@font-face {
  font-family: "font_title";
  src: url("../fonts/farsi-fonts/SandalRegular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "font-primary";
  src: local("iran-yekan"), local("iran yekan"), url("../fonts/farsi-fonts/iran-yekan-500.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "font-secondary";
  src: local("segoeui"), local("segoeui-regular"), url("../fonts/farsi-fonts/segoeui.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "font-description";
  src: url("../fonts/farsi-fonts/IRDastNevis.ttf") format("truetype");
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  font-family: "font-primary", "font-secondary", tahoma;
  background-image: url("../images/body.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-attachment: fixed;
}
body .main {
  width: 80%;
  padding: 50px 20px;
}
body .main .shadow, body .main .page-title {
  font-family: "font-title", "font-primary", "font-secondary", tahoma;
  font-size: 3.5rem;
  color: #282828;
  text-align: right;
  height: 70px;
}
body .main .shadow {
  transform: rotateX(180deg);
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(100, 100, 100, 0.2));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .main .tumbnail {
  background-color: rgba(200, 200, 200, 0.3);
  border-radius: 5px;
  margin: 20px;
  padding: 10px 20px 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
body .main .title {
  font-size: 1.2rem;
}
body .main .description {
  color: rgb(90, 90, 90);
  text-align: justify;
  padding-right: 20px;
  padding-left: 20px;
}

.dark {
  background-color: #282828;
}
.dark .main .page-title {
  color: rgb(240, 240, 240);
}
.dark .main .shadow {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(132, 132, 132, 0.205));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dark .main .title {
  color: rgb(200, 202, 144);
}
.dark .main .description {
  color: rgb(200, 200, 200);
  text-align: justify;
}

aside {
  background-color: rgba(200, 200, 200, 0.3);
  padding-top: 50px;
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(4px);
  position: sticky;
  top: 0;
}
aside .photo img {
  width: 50%;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
aside .info {
  padding: 20px 0px;
  font-weight: normal;
}
aside .info .name {
  font-size: 1.2rem;
}
aside .info .details {
  font-size: 0.8rem;
}
aside .navbar {
  transition: all 200ms ease-out;
}
aside .navbar li {
  text-decoration: none;
  list-style: none;
  transition: all 0.3s ease-in;
  padding: 5px;
}
aside .navbar li a {
  text-decoration: none;
  color: #282828;
  font-weight: lighter;
  border-radius: 5px;
  padding: 0px 10px;
}
aside .navbar li a:hover {
  background-color: rgb(140, 140, 140);
  color: rgb(240, 240, 240);
}
aside .navbar li .active {
  background-color: rgb(140, 140, 140);
  color: rgb(240, 240, 240);
}
aside .dark-light-slider {
  width: 70px;
  height: 30px;
  padding: 5px;
  margin: 30px 0px;
  background: rgb(140, 140, 140);
  border-radius: 15px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
aside .dark-light-slider #slider {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  box-shadow: inset 4px 4px 4px rgb(255, 255, 255), inset -4px -4px 4px rgba(195, 193, 198, 0.9);
}
aside .menu-handler {
  color: #282828;
  transform: rotate(90deg);
  margin-right: 10%;
  cursor: pointer;
  display: none;
  transition: all 200ms ease-out;
}

.dark aside .info {
  color: rgb(240, 240, 240);
}
.dark aside ul li a {
  color: rgb(240, 240, 240);
}
.dark aside ul li a:hover {
  color: #282828;
}
.dark aside ul li .active {
  background-color: rgb(240, 240, 240);
  color: #282828;
}
.dark aside .dark-light-slider {
  background-color: rgb(240, 240, 240);
}
.dark aside .dark-light-slider #slider {
  background-color: rgb(140, 140, 140);
  box-shadow: inset 4px 4px 4px rgba(255, 255, 255, 0.2), inset -4px -4px 4px rgba(195, 193, 198, 0.4);
  transform: translateX(40px);
}
.dark aside .menu-handler {
  color: rgb(240, 240, 240);
}

@media screen and (max-width: 992px) {
  body {
    flex-direction: column;
  }
  body aside {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    position: static;
    justify-content: space-between;
    padding: 20px 0px;
  }
  body aside .photo {
    min-width: 100px;
    margin-right: 100px;
  }
  body aside .photo img {
    width: 100px;
  }
  body aside .info {
    width: 150px;
    margin-left: 100px;
    text-align: center;
  }
  body aside .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
  }
  body aside .dark-light-slider {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px 20px;
  }
  body .main {
    width: 100%;
    padding: 30px;
  }
  body .main .page-title, body .main .shadow {
    font-size: 2.2rem;
    height: 45px;
  }
}
@media screen and (max-width: 576px) {
  body aside {
    padding-bottom: 5px;
    padding-top: 50px;
  }
  body aside .photo {
    width: 50px;
    margin-right: 50px;
  }
  body aside .info {
    margin-left: 20px;
  }
  body aside .navbar {
    flex-direction: column;
    opacity: 0;
    height: 0px;
    transform: translateY(-40px);
  }
  body aside .menu-handler {
    display: block;
  }
  body .main {
    position: relative;
    padding: 10px;
  }
  body .main .page-title, body .main .shadow {
    font-size: 1.5rem;
    height: 30px;
  }
  body .main .tumbnail {
    padding: 5px 10px 10px 5px;
  }
  body .main .description {
    padding: 0px 5px;
  }
}
form input {
  padding: 5px;
  width: 200px;
  margin-bottom: 10px;
  font-family: "font-primary", "font-secondary", tahoma;
}
form textarea {
  width: 100%;
  padding: 5px;
  font-family: "font-primary", "font-secondary", tahoma;
}
form button {
  width: 200px;
  background-color: #386f6d;
  border-radius: 5px;
  color: rgb(240, 240, 240);
  border: none;
  padding: 5px;
  cursor: pointer;
  font-family: "font-primary", "font-secondary", tahoma;
}
form .error {
  color: red !important;
}

.dark form .error {
  color: yellow !important;
}

.shape1 {
  width: 500px;
  height: 500px;
  background-color: rgba(201, 127, 215, 0.2);
  border-radius: 100px;
  position: fixed;
  left: -140px;
  top: -350px;
  transform: rotate(45deg);
  backdrop-filter: blur(10px);
  z-index: -2;
}

.shape2, .shape3, .shape4, .shape5 {
  border-radius: 100%;
  position: fixed;
  backdrop-filter: blur(10px);
  z-index: -1;
}

.shape2 {
  width: 150px;
  height: 150px;
  background-color: rgba(142, 207, 235, 0.2);
  left: 160px;
  top: 80px;
}

.shape3 {
  width: 300px;
  height: 300px;
  background-color: rgba(107, 114, 192, 0.2);
  left: -185px;
  top: 190px;
}

.shape4 {
  width: 50px;
  height: 50px;
  background-color: rgba(173, 236, 215, 0.2);
  left: 115px;
  top: 255px;
}

.shape5 {
  width: 130px;
  height: 130px;
  background-color: rgba(173, 236, 215, 0.2);
  left: 30px;
  top: 400px;
}

@media screen and (max-width: 992px) {
  .shape1 {
    width: 375px;
    height: 375px;
    border-radius: 75px;
    left: -105px;
    top: -262px;
  }
  .shape2 {
    width: 112px;
    height: 112px;
    left: 120px;
    top: 60px;
  }
  .shape3 {
    width: 225px;
    height: 225px;
    left: -139px;
    top: 142px;
  }
  .shape4 {
    width: 37px;
    height: 37px;
    left: 86px;
    top: 191px;
  }
  .shape5 {
    width: 97px;
    height: 97px;
    left: 22px;
    top: 300px;
  }
}
@media screen and (max-width: 576px) {
  .shape1 {
    width: 250px;
    height: 250px;
    border-radius: 50px;
    left: -70px;
    top: -175px;
  }
  .shape2 {
    width: 75px;
    height: 75px;
    left: 80px;
    top: 40px;
  }
  .shape3 {
    width: 150px;
    height: 150px;
    left: -90px;
    top: 85px;
  }
  .shape4 {
    width: 25px;
    height: 25px;
    left: 57px;
    top: 127px;
  }
  .shape5 {
    width: 65px;
    height: 65px;
    left: 15px;
    top: 200px;
  }
}
.modal {
  position: fixed;
  bottom: 20px;
  left: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 10px;
  height: 120px;
  width: 400px;
  background-color: rgb(200, 202, 144);
  opacity: 0;
  transition: all 200ms ease-out;
}
.modal .modal-description {
  padding-right: 20px;
  padding-top: 20px;
}

.main .info {
  margin-right: 20px;
}
.main .info a {
  text-decoration: none;
  color: #282828;
}
.main .info i {
  padding: 0px 5px;
  color: #282828;
}
.main .info .social {
  padding: 20px 0px;
}
.main .info .social i {
  font-size: 1.6rem;
}

.dark .main .info a {
  color: rgb(200, 200, 200);
}
.dark .main .info i {
  color: rgb(200, 202, 144);
}
.dark .main h4 {
  color: rgb(200, 200, 200);
}/*# sourceMappingURL=contact.css.map */