@font-face {
  font-family: "primary-font";
  src: url("../fonts/farsi-fonts/iran-yekan-500.eot");
  src: url("../fonts/farsi-fonts/iran-yekan-500.eot?#iefix") format("embedded-opentype"), url("../fonts/farsi-fonts/iran-yekan-500.woff2") format("woff2"), url("../fonts/farsi-fonts/iran-yekan-500.woff") format("woff"), url("../fonts/farsi-fonts/iran-yekan-500.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "secondary-font";
  src: url("../fonts/farsi-fonts/pinar-700.eot");
  src: url("../fonts/farsi-fonts/pinar-700.eot?#iefix") format("embedded-opentype"), url("../fonts/farsi-fonts/pinar-700.woff2") format("woff2"), url("../fonts/farsi-fonts/pinar-700.woff") format("woff"), url("../fonts/farsi-fonts/pinar-700.ttf") format("truetype");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.section-padding {
  padding: 50px 0;
}

.section-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-family: "secondary-font";
}
.section-text h3,
.section-text h1 {
  font-size: 5rem;
}
.section-text p {
  font-family: "primary-font";
  color: #9b9b9b;
}

.title {
  position: relative;
  top: -30px;
  width: 100%;
  height: 300px;
  background-image: url(../images/slider/home-slide-1.jpg);
  background-size: cover;
}
.title .title-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-family: "secondary-font";
  height: 100%;
  color: #fff;
}
.title .title-text h1 {
  font-size: 5rem;
}
.title .title-text p {
  font-size: 1.2rem;
  font-family: "primary-font";
}

.header-item-icon {
  box-sizing: content-box;
  width: 32px;
  border: 5px solid rgb(211, 211, 214);
  border-radius: 50%;
  margin-left: 10px;
}

.header-icon-link {
  color: rgb(211, 211, 214);
  margin: 0 5px;
  font-size: 1.5rem;
  cursor: pointer;
}
.header-icon-link:hover {
  color: rgb(241, 97, 33);
}

.navbar-icon {
  color: rgb(43, 44, 47);
  margin: 0 5px;
  font-size: 1.5rem;
  cursor: pointer;
}
.navbar-icon:hover {
  color: #fff;
}

.number {
  border: 1px solid rgb(211, 211, 214);
  border-radius: 50px;
  padding: 5px 20px;
}
.number span {
  cursor: pointer;
}
.number input {
  border: none;
  padding: 10px;
  text-align: center;
}

.button1 {
  font-family: "primary-font";
  color: #fff;
  background-color: rgb(241, 97, 33);
  padding: 15px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.button1:hover {
  background-color: rgb(236, 182, 159);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.header .header-left {
  display: flex;
}
.header .header-left .header-item {
  display: flex;
  padding: 10px 20px;
}
.header .header-left .header-item .header-item-link {
  text-decoration: none;
  color: rgb(43, 44, 47);
  font-family: "primary-font";
}
.header .header-left .header-item .header-item-link:hover {
  color: rgb(241, 97, 33);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(241, 97, 33);
  border-radius: 50px;
  padding: 10px 50px;
  position: sticky;
  top: 0;
  z-index: 2;
}
.navbar .navbar-right ul {
  text-decoration: none;
  list-style: none;
  display: flex;
}
.navbar .navbar-right ul .navbar-link {
  text-decoration: none;
  padding: 3px 10px;
  margin: 0 20px;
  font-family: "primary-font";
  color: #fff;
}
.navbar .navbar-right ul li .active {
  background-color: rgb(236, 182, 159);
}
.navbar .navbar-left a {
  text-decoration: none;
}
.navbar .navbar-left a span {
  color: #fff;
  font-size: 1.5rem;
  font-family: "primary-font";
}

.navbar-sticky {
  width: 100%;
  border-radius: 0px;
  padding: 10px calc(12.5% + 50px);
}

.product-container {
  display: flex;
}
.product-container .product-container-right .product-container-largeimage {
  width: 450px;
  height: 450px;
  overflow: hidden;
}
.product-container .product-container-right .product-container-largeimage img {
  width: 100%;
  height: 100%;
}
.product-container .product-container-right .product-container-smallimages {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-container .product-container-right .product-container-smallimages img {
  width: 100px;
  margin: 10px;
  padding: 5px;
  border: 1px solid rgb(211, 211, 214);
  border-radius: 5px;
  cursor: pointer;
}
.product-container .product-container-left {
  margin: 40px;
  width: 100%;
  font-family: "primary-font";
}
.product-container .product-container-left .product-title {
  display: flex;
  gap: 50px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(211, 211, 214);
}
.product-container .product-container-left .product-title h3 {
  font-size: 2rem;
}
.product-container .product-container-left .product-title p {
  color: #9b9b9b;
}
.product-container .product-container-left .product-title .badge {
  color: #fff;
  background-color: rgb(241, 97, 33);
  padding: 10px;
}
.product-container .product-container-left .product-price-container {
  padding: 20px 0px;
}
.product-container .product-container-left .product-price-container li {
  display: flex;
  gap: 20px;
  color: rgb(241, 97, 33);
  font-size: 1.2rem;
}
.product-container .product-container-left .product-price-container li .discount-price {
  text-decoration: line-through;
}
.product-container .product-container-left .product-price-container li .product-type {
  color: #fff;
  background-color: rgb(236, 182, 159);
  border-radius: 50%;
  padding: 5px;
}
.product-container .product-container-left .product-price-container li .product-type:hover {
  cursor: pointer;
  background-color: rgb(241, 97, 33);
}
.product-container .product-container-left .product-energy-container p {
  color: #9b9b9b;
}
.product-container .product-container-left .product-energy-container .product-energy,
.product-container .product-container-left .product-energy-container .product-protein {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  border: 1px solid rgb(211, 211, 214);
  border-radius: 20px;
}
.product-container .product-container-left .product-energy-container .product-energy #energy,
.product-container .product-container-left .product-energy-container .product-energy #protein,
.product-container .product-container-left .product-energy-container .product-protein #energy,
.product-container .product-container-left .product-energy-container .product-protein #protein {
  color: #fff;
  background-color: rgb(241, 97, 33);
  width: 32%;
  border-radius: 20px;
  padding-right: 20px;
}
.product-container .product-container-left .shopcart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}/*# sourceMappingURL=product_details.css.map */