// fonts
@font-face {
    font-family: "font_title";
    src: url("../fonts/farsi-fonts/SandalRegular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "font-primary";
    src: local('iran-yekan'),
        local('iran yekan'),
        url("../fonts/farsi-fonts/iran-yekan-500.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "font-secondary";
    src: local('segoeui'),
        local('segoeui-regular'),
        url("../fonts/farsi-fonts/segoeui.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "font-description";
    src: url("../fonts/farsi-fonts/IRDastNevis.ttf") format("truetype");
    font-weight: normal;
}
