form{
    input{
        padding: 5px;
        width: 200px;
        margin-bottom: 10px;
        font-family: 'font-primary', 'font-secondary', tahoma;
    }
    textarea{
        width: 100%;
        padding: 5px;
        font-family: 'font-primary', 'font-secondary', tahoma;
    }
    button{
        width: 200px;
        background-color: $color_turquoise;
        border-radius: 5px;
        color: $color_light;
        border: none;
        padding: 5px;
        cursor: pointer;
        font-family: 'font-primary', 'font-secondary', tahoma;
    }
    .error{
        color: red !important;
    }
}

.dark{
    form{
        .error{
            color: yellow !important;
        }
    }
}