.modal{
    position: fixed;
    bottom: 20px;
    left: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 10px;
    height: 120px;
    width: 400px;
    background-color: $color_title_dark;
    opacity: 0;
    transition: all 200ms ease-out;
    // i{
    //     font-weight: bolder;
    //     cursor: pointer;
    // }
    .modal-description{
        padding-right: 20px;
        padding-top: 20px;
    }
}
