// responsive styles - smaller than 992px:
@media screen and (max-width: 992px){
    body{
        flex-direction: column;
// aside responsive code:
        aside{
            width: 100%;
            height: auto;
            flex-direction: row;
            flex-wrap: wrap;
            position: static;
            justify-content: space-between;
            padding: 20px 0px;
            .photo{
                min-width: 100px;
                margin-right: 100px;
                img{
                    width: 100px;
                }
            }
            .info{
                width: 150px;
                margin-left: 100px;
                text-align: center;
            }
            .navbar{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 0px;
            }
            .dark-light-slider{
                position: fixed;
                top: 0;
                right: 0;
                margin : 10px 20px;
            }
        }
// general:
        .main{
            width: 100%;
            padding: 30px;
            .page-title, .shadow{
                font-size: 2.2rem;
                height: 45px;
            }
        }
    }
}

// responsive styles - smaller than 576px:
@media screen and (max-width: 576px){
    body{
// aside responsive code:
        aside{
            padding-bottom: 5px;
            padding-top: 50px;
            .photo{
                width: 50px;
                margin-right: 50px;
            }
            .info{
                margin-left: 20px;
            }
            .navbar{
                flex-direction: column;
                opacity: 0;
                height: 0px;
                transform: translateY(-40px);
            }
            .menu-handler{
                display: block;
            }
        }
// general:
        .main{
            position: relative;
            padding: 10px;
            .page-title, .shadow{
                font-size: 1.5rem;
                height: 30px;
            }
            .tumbnail{
                padding: 5px 10px 10px 5px;
            }
            .description{
                padding: 0px 5px;
            }
        }
    }
}
