// slider styles
.main{
    .slider-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        .slider-img{
            transition: all 1000ms ease-out;
            cursor: pointer;
            img{
                width: 100%;
            }
        }
    
        .arrow-right, .arrow-left{
            color: $color_gray;
            font-size: 7rem;
            cursor: pointer;
    
        }
        .title{
            padding: 5px;
        }
        p{
            padding: 0px 40px;
        }
    }
}

// dark mode styles
.dark{
        .arrow-right, .arrow-left{
            color: $color_light_gray !important;
        }
    }
