// color variables
$color_dark: #282828;
$color_light: rgb(240, 240, 240);
$color_aside: rgba(200, 200, 200, 0.3);

$color_gray: rgb(90, 90, 90);
$color_medium_gray: rgb(140, 140, 140);
$color_light_gray: rgb(200, 200, 200);

$color_title_dark: rgb(200, 202, 144);
$color_turquoise: #386f6d ;
$color_light_turquoise: #86bdbb ;

// font size
$font_size_sm: 0.8rem;
$font_size_md: 1.2rem;
$font_size_lg: 2rem;
$font_size_title: 4rem;

// icon variables
$icon_size: 1.5rem;

