@import 'variables';
@import 'fonts';
@import 'layouts';
@import 'links';
@import 'aside';
@import 'responsive';
@import 'shape';

// about page styles
.main .tumbnail{
    p{
        padding-right: 30px;
    }
    ul li{
        @include reset-lists;
        color: $color_dark;
        padding-right: 30px;
        text-align: justify;
        img{
            height: 20px;
            padding-left: 5px;
            vertical-align: middle;
        }
    }
}

// responsive styles
@media screen and (max-width: 992px){
    body .main .tumbnail{
        p{
            padding-right: 25px;
        }
        ul li{
            padding-right: 5px;
        }
    }
}

@media screen and (max-width: 576px){
    body .main .tumbnail{
        p{
            padding-right: 0px;
        }
        ul li{
            padding-right: 0px;
        }
    }
}

