@import 'base';
@import 'fonts';
@import 'layouts';
@import 'links';
@import 'aside';
@import 'responsive';
@import 'slider';

.main{
    .slider-img{
        height: calc(100vh - 400px);
        background-image: url("../images/slider/slider-1.png");
    }
    .arrow-right, .arrow-left{
        top: calc(50vh - 300px);
    }
}
