@import 'variables';
@import 'fonts';
@import 'layouts';
@import 'links';
@import 'aside';
@import 'responsive';
@import 'form';
@import 'shape';
@import 'modal';

// contact page styles
.main{
    .info{
        margin-right: 20px;
        a{
            @include reset_links;
            color: $color_dark;
        }
        i{
            padding: 0px 5px;
            color: $color_dark;
        }
        .social{
            padding: 20px 0px;
            i{
                font-size: 1.6rem;
            }
        }
    }
}

// dark mode styles
.dark .main{
    .info{
        a{
            color: $color_light_gray;
        }
        i{
            color: $color_title_dark;
        }
    }
    h4{
        color: $color_light_gray;
    }
}
